{% extends 'base.html' %}

{% block head %}
    <title>Agregar cliente</title>
{% endblock head %}


{% block body %}
    <div id="cliente-create" class="container">
        <form method="POST" enctype="multipart/form-data" class="d-grid justify-content-center mb-5">
            {% csrf_token %}
            <h3 class="text-center">Agregar cliente</h3>
            <hr>
            <div class="forms">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-3">Agregar</button>
        </form>
    </div>
{% endblock body %}
    
    